.yymain{padding:10px 10px 0px 10px;background: #dee8f2!important; min-height: 660px;}
.yytitle{background-color: #ffffff; padding: 16px;text-align: center;}
.yycontent{background-color: #ffffff; margin-top: 10px; padding: 20px;}
.yylbt{ color: #42B794;font-size: 16px;font-weight: bold;}
.iconfont{font-size: 18px!important; }
.yyc{text-align:center;}
.yfont{font-size: 12px!important;color: #66787d!important;padding-left: 20px;}
.ym{padding-left: 6px!important;}
.ym-20{padding-left: 20px!important;}
.yt-16{padding-top: 16px!important;}
.yyf{font-size:12px;}
.ycolor{color: #666666;}
.yyred{color: red!important;}
.yyinput.el-input__inner{color: red!important;}
.yyblue{color: blue;}
.stu-left {
  border: 1px #eee solid;
}
.stu-row {
  border-bottom: 1px #eee solid;
  color: #4d4d4d;
  height: 38px;
  line-height: 38px;
}
.stu-col-row{  border-left: 1px solid #eee;}
.stu-row:last-child {
  border: none;
}
.stu-row span {
  display: inline-block;
  padding-left:20px;
  width: 80px;
  color: #6c6c6c;
}
.stu-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stru-lal{padding: 16px 0px 12px 0px; font-weight: bold; font-size: 14px;}
/* 列表样式 */
.stu-table{
  margin:0;
  font-size: 12px!important;
}

.stu-table th {
  background: #e5f5fb!important;
  font-size: 12px!important;
  color: #1c6cb4;
  height: 26px!important;
}
.stu-table td{
  height: 36px!important;
}

.stu-footer{
  margin-top: 10px;
  border-top: 3px solid #1c6cb4;
  background: #ffffff;
  padding: 20px;
}
.stu-title{
  color: #1c6cb4; font-weight: bold; font-size: 14px; padding-bottom: 10px;

}
/*end*/

/*bnt color*/
.bntc{    background-color: #79c5c0!important;
    border-color: #79c5c0!important;}
.yy-input-text{
      display: inline-block;
      width: 35%;
      font-size: 14px;
      text-align: right;
      line-height: 32px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
.yy-input-input{
      width: 60%!important;
    }
    .ak-tab {line-height: 32px;}

    .ak-tabs {
      display: flex;
    }

    .ak-tab-item {
      background: #399bfe;
      color: #fff;
      font-size: 14px;
      margin-right: 6px;
      border-radius: 3px 3px 0 0;
      padding: 0 16px;
      line-height: 30px!important;
    }
    .ak-tab-item:hover{
      background: #7bbaf9;
    }
    .ak-checked{
      background: #fff;
      color: #399bfe;
      border: 1px #dddddd solid;
      border-bottom: 1px #fff solid;
      margin-bottom: -1px;
    }

    .ak-tab-pane {
      border: 1px #dddddd solid;
      padding: 12px;
      border-radius: 0 3px 3px 3px;
    }
.detailinput{width: 60%!important; min-height: 28px;line-height: 28px;border: 1px solid #eeeeee; background: #F5F7FA; border-radius: 3px; padding-left: 10px; color: #999999;}
.modpwd{ margin-left: 10px; color: #5DAFE7;}
